.version.about_services /* version checker */
{
	color: #0000EE;
	background-color: #49FEC6;
}

.html
{
	background-color: #A4A2A2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1156.5999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -299px;
	padding-top: 207px;
}

#u2904
{
	z-index: 155;
	height: 179px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 10px #303030/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px -1px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	position: fixed;
	top: -2px;
	border-width: 5px 0px 0px;
}

#u2904:hover
{
	border-style: none;
	height: 182px;
	min-height: 3px;
	margin: 2px 0px 0px;
}

#u2904-bw
{
	z-index: 155;
}

#u4266
{
	z-index: 156;
	width: 222px;
	background-color: transparent;
	position: fixed;
	top: 16px;
	left: 50%;
	margin-left: -484px;
}

#u4266_clip
{
	overflow: hidden;
	width: 222px;
	height: 166px;
}

#u4266_img
{
	margin: -5px 1px 3px;
}

#u4324-4
{
	z-index: 248;
	width: 457px;
	min-height: 61px;
	border-style: solid;
	border-color: #736357;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #736357;
	text-align: left;
	font-family: lustria, serif;
	font-weight: 400;
	position: fixed;
	top: 16px;
	left: 50%;
	margin-left: -175px;
	border-width: 0px 0px 0px 4px;
}

#u4324-2
{
	padding-left: 10px;
	padding-top: 5px;
}

#u4268
{
	z-index: 158;
	width: 569px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 126px;
	left: 50%;
	margin-left: -225px;
}

#u4321
{
	z-index: 183;
	width: 50px;
	border-color: #000000;
	background-color: #E9F6F2;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#pu4269
{
	z-index: 184;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 3px;
}

#u4269
{
	z-index: 0;
	width: 46px;
	border-color: #000000;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u4269:hover
{
	background-color: transparent;
	margin: 0px;
}

.ie #u4269:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu4270
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 12px;
	z-index: 2;
	padding-bottom: 14px;
}

#u4270
{
	z-index: 185;
	width: 20px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u4270:hover
{
	background-color: #E9CF65;
	margin: 0px -10000px 0px 0px;
}

#u4270_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#pamphletu4303
{
	z-index: 159;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u4310
{
	z-index: 160;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4311
{
	position: absolute;
	width: 133px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px;
}

#pu4311:hover #u4311
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4311.PamphletThumbSelected #u4311
{
	width: 133px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px;
}

#u4312-4
{
	z-index: 163;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4311:hover #u4312-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4311.PamphletThumbSelected #u4312-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
	min-height: 46px;
}

#pu4311:hover #u4312-4 p
{
	color: #E9CF65;
	visibility: inherit;
}

#pu4311 #u4312-4
{
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u4313
{
	position: absolute;
	width: 552px;
	top: 63px;
}

#u4313popup
{
	z-index: 169;
}

#u4314
{
	z-index: 170;
	width: 550px;
	height: 276px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin-right: -10000px;
}

#pu4317-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 4px;
}

#u4317-4
{
	z-index: 171;
	width: 266px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: #C5C3C3;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 15px;
	color: #3E322C;
	line-height: 18px;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4315
{
	z-index: 179;
	width: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #A58D2B;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-top: 6px;
	position: relative;
}

#pu4320-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 277px;
}

#u4320-4
{
	z-index: 175;
	width: 266px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: #C5C3C3;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 15px;
	color: #3E322C;
	line-height: 18px;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4320-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 266px;
	margin: 0px 0px 0px 1px;
}

#u4318
{
	z-index: 181;
	width: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #A58D2B;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-top: 6px;
	position: relative;
}

#u4318:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 266px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u4318:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	width: 266px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u4315 .clip_frame,#u4318 .clip_frame
{
	-webkit-border-radius: 0px 0px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu4286
{
	z-index: 187;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u4300
{
	z-index: 188;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4301
{
	position: absolute;
	width: 134px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu4301:hover #u4301
{
	width: 135px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4301.PamphletThumbSelected #u4301
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u4302-4
{
	z-index: 191;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4301:hover #u4302-4
{
	background-color: #E9CF65;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4301.PamphletThumbSelected #u4302-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#u4320-4:hover p,#pu4301:hover #u4302-4 p
{
	color: #000000;
	visibility: inherit;
}

#u4293
{
	position: absolute;
	width: 137px;
	top: 64px;
	left: -3px;
}

#u4293popup
{
	z-index: 197;
}

#u4294
{
	z-index: 198;
	width: 130px;
	height: 260px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin-right: -10000px;
	padding: 3px 2px 7px 3px;
}

#u4296-4
{
	z-index: 199;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4298-4
{
	z-index: 203;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4297-6
{
	z-index: 207;
	width: 130px;
	min-height: 53px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	line-height: 6px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4297-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 130px;
	margin: 2px 0px 0px;
}

#u4295-6
{
	z-index: 213;
	width: 130px;
	min-height: 53px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	line-height: 6px;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4295-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 130px;
	margin: 3px 0px 0px;
}

#u4299-4
{
	z-index: 219;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pamphletu4272
{
	z-index: 223;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u4273
{
	z-index: 224;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu4311,#pu4301,#pu4274
{
	position: absolute;
	width: 0.01px;
	top: -4px;
	left: -4px;
}

#u4274
{
	position: absolute;
	width: 134px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu4274:hover #u4274
{
	width: 135px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4274.PamphletThumbSelected #u4274
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u4275-4
{
	z-index: 227;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4274:hover #u4275-4
{
	background-color: #A4A2A2;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4274.PamphletThumbSelected #u4275-4
{
	background-color: #E9F6F2;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#u4296-4:hover p,#u4298-4:hover p,#u4297-6:hover p,#u4295-6:hover p,#u4299-4:hover p,#pu4274:hover #u4275-4 p
{
	color: #000000;
	visibility: inherit;
}

#pu4311.PamphletThumbSelected #u4312-4 p,#pu4301.PamphletThumbSelected #u4302-4 p,#pu4274.PamphletThumbSelected #u4275-4 p
{
	color: #A58D2B;
	visibility: inherit;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#pu4301 #u4302-4,#pu4274 #u4275-4
{
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4280
{
	position: absolute;
	width: 135px;
	top: 64px;
}

#u4280popup
{
	z-index: 233;
}

#u4281
{
	z-index: 234;
	width: 130px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding-left: 3px;
	padding-top: 3px;
	position: relative;
	margin-right: -10000px;
}

#u4283-4
{
	z-index: 235;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4296-4:hover,#u4283-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 130px;
	margin: 0px;
}

#u4282-4
{
	z-index: 239;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4298-4:hover,#u4299-4:hover,#u4282-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 130px;
	margin: 3px 0px 0px;
}

#u4283-4:hover p,#u4282-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u4323
{
	z-index: 243;
	width: 104px;
	border-color: #000000;
	background-color: #E9F6F2;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u4322-4
{
	z-index: 244;
	width: 95px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u4322-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 4px -10000px 0px 0px;
}

#u4322-4:hover p
{
	color: #A58D2B;
	visibility: inherit;
}

#u4312-2,#u4317-2,#u4320-2,#u4302-2,#u4296-2,#u4298-2,#u4297-2,#u4297-4,#u4295-2,#u4295-4,#u4299-2,#u4275-2,#u4283-2,#u4282-2,#u4322-2
{
	padding-top: 13px;
}

#pu5635
{
	width: 0.01px;
	margin-top: 43px;
}

#u5635
{
	z-index: 60;
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #3E322C;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5647
{
	z-index: 153;
	width: 88px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 15px;
}

#u5622-6
{
	z-index: 68;
	width: 575px;
	min-height: 124px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u5622-3
{
	color: #3E322C;
	font-family: lustria, serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5622
{
	font-size: 19px;
	line-height: 27px;
}

#u5622-2
{
	line-height: 22px;
}

#u5622-4
{
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
}

#u5653
{
	z-index: 59;
	height: 748px;
	border-color: #000000;
	background-color: #7F7F7F;
}

#u5653-bw
{
	z-index: 59;
	margin-top: 16px;
	height: 748px;
}

#u5621-7
{
	z-index: 61;
	width: 450px;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	top: -931px;
	margin-bottom: -38px;
	position: relative;
}

#u5621,#u5621-3
{
	font-size: 25px;
	color: #3E322C;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
}

#u5560
{
	z-index: 74;
	width: 955px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	top: -727px;
	margin-bottom: -702px;
	position: relative;
}

#u5548
{
	z-index: 149;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 344px;
}

#u5548:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 507px -10000px 0px 0px;
}

#u5554
{
	z-index: 151;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 674px;
}

#u5554:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 507px -10000px 0px 0px;
}

#u5548:active,#u5554:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 507px -10000px 0px 0px;
}

#pu4992-5
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4992-5
{
	z-index: 124;
	width: 244px;
	min-height: 38px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u5621-4,#u4992
{
	font-size: 25px;
	line-height: 30px;
}

#u2984
{
	z-index: 75;
	width: 264px;
	border-color: #000000;
	background-color: #8F828B;
	margin-top: 4px;
	position: relative;
	padding: 14px 17px 23.024999999999636px 20px;
}

#u2984:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 4px 0px 0px;
}

#u2978-5
{
	z-index: 78;
	width: 215px;
	min-height: 28px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u2980-4
{
	z-index: 97;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u2997
{
	z-index: 105;
	width: 260px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u2997:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 19px 0px 0px;
}

#u3772
{
	z-index: 111;
	width: 269px;
	border-color: #000000;
	background-color: #94B1BC;
	margin-top: 28px;
	position: relative;
	padding: 14px 12px 23.02500000000009px 20px;
}

#u3773-6
{
	z-index: 112;
	width: 269px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u3774-4
{
	z-index: 118;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u4018
{
	z-index: 122;
	width: 260px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u4018:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 19px 0px 0px;
}

#pu2985
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 327px;
}

#u2985
{
	z-index: 76;
	width: 264px;
	border-color: #000000;
	background-color: #C0C27C;
	position: relative;
	padding: 14px 20px 23px 17px;
}

#u2979-5
{
	z-index: 83;
	width: 212px;
	min-height: 27px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u2969-4
{
	z-index: 93;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u3003
{
	z-index: 107;
	width: 260px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u3003:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 19px 0px 0px;
}

#u5115
{
	z-index: 129;
	width: 269px;
	border-color: #000000;
	background-color: #BC9394;
	margin-top: 28px;
	position: relative;
	padding: 14px 12px 210.39999999999986px 20px;
}

#u5116-5
{
	z-index: 130;
	width: 269px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u5117-4
{
	z-index: 135;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#pu2986
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 654px;
}

#u2986
{
	z-index: 77;
	width: 264px;
	border-color: #000000;
	background-color: #80AF99;
	position: relative;
	padding: 14px 16px 23px 21px;
}

#u2985:hover,#u2986:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 0px;
}

#u2972-5
{
	z-index: 88;
	width: 235px;
	min-height: 27px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u5621-5,#u4992-3,#u2978-3,#u2979-3,#u2972-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2978,#u2979,#u2972
{
	font-size: 19px;
	line-height: 23px;
}

#u2975-4
{
	z-index: 101;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u3012
{
	z-index: 109;
	width: 260px;
	background-color: transparent;
	left: -1px;
	margin-top: 19px;
	position: relative;
}

#u3012:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 19px 0px 0px;
}

#u2997:active,#u4018:active,#u3003:active,#u3012:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 19px 0px 0px;
}

#u5121
{
	z-index: 139;
	width: 269px;
	border-color: #000000;
	background-color: #7E8498;
	margin-top: 28px;
	position: relative;
	padding: 14px 12px 210.39999999999986px 20px;
}

#u3772:hover,#u5115:hover,#u5121:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 28px 0px 0px;
}

#u5122-5
{
	z-index: 140;
	width: 269px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
}

#u5123-4
{
	z-index: 145;
	width: 264px;
	min-height: 55px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u1648
{
	z-index: 2;
	padding-bottom: 29px;
}

#u1648_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1654
{
	z-index: 56;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 101px;
}

#u1649-20
{
	z-index: 3;
	width: 165px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 119px;
}

#u1656
{
	z-index: 57;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 420px;
}

#u1650-27
{
	z-index: 23;
	width: 261px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 435px;
}

#u1657
{
	z-index: 58;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 739px;
}

#u1651-6
{
	z-index: 50;
	width: 257px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 757px;
}

#u1648-bw
{
	z-index: 2;
	margin-top: 60px;
	height: 258px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 299px;
}

#page .verticalspacer
{
	clear: both;
}

