.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16398-4
{
	font-family: tienne-n4, serif;
}

#u16453-4
{
	font-family: tienne-n4, serif;
}

#u16396-9,#u16458-4
{
	font-family: lustria-n4, serif;
}

#u16429-4
{
	font-family: tienne-n4, serif;
}

#u16425-4
{
	font-family: lustria-n4, serif;
}

#u16426-4
{
	font-family: lustria-n4, serif;
}

#u16422-6
{
	font-family: lustria-n4, serif;
}

#u16423-6,#u16424-4
{
	font-family: lustria-n4, serif;
}

#u16408-4
{
	font-family: tienne-n4, serif;
}

#u16405-4
{
	font-family: lustria-n4, serif;
}

#u16443-4
{
	font-family: tienne-n4, serif;
}

#u16436-4
{
	font-family: lustria-n4, serif;
}

#u16435-4
{
	font-family: lustria-n4, serif;
}

#u16399-4
{
	font-family: tienne-n4, serif;
}

#u5033-2,#u5033-4,#u5033-6,#u5033-8,#u5033-10,#u5033-12
{
	font-family: lustria-n4, serif;
}

#u5033-13
{
	font-family: pt-serif-n4, sans-serif;
}

#u5034-2,#u5034-4,#u5034-6,#u5034-8,#u5034-10
{
	font-family: pt-serif-i4, sans-serif;
}

#u5034-12
{
	font-family: pt-serif-i7, sans-serif;
}

