.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16194-4
{
	font-family: tienne-n4, serif;
}

#u16249-4
{
	font-family: tienne-n4, serif;
}

#u16192-9,#u16254-4
{
	font-family: lustria-n4, serif;
}

#u16225-4
{
	font-family: tienne-n4, serif;
}

#u16221-4,#u16222-4
{
	font-family: lustria-n4, serif;
}

#u16218-6
{
	font-family: lustria-n4, serif;
}

#u16219-6
{
	font-family: lustria-n4, serif;
}

#u16220-4
{
	font-family: lustria-n4, serif;
}

#u16204-4
{
	font-family: tienne-n4, serif;
}

#u16201-4
{
	font-family: lustria-n4, serif;
}

#u16239-4
{
	font-family: tienne-n4, serif;
}

#u16232-4
{
	font-family: lustria-n4, serif;
}

#u16231-4
{
	font-family: lustria-n4, serif;
}

#u16195-4
{
	font-family: tienne-n4, serif;
}

#u1930-12
{
	font-family: lustria-n4, serif;
}

#u1931-2,#u1931-4
{
	font-family: pt-serif-i4, sans-serif;
}

#u1931-6
{
	font-family: pt-serif-n7, sans-serif;
}

