.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16262-4
{
	font-family: tienne-n4, serif;
}

#u16317-4
{
	font-family: tienne-n4, serif;
}

#u16260-9,#u16322-4
{
	font-family: lustria-n4, serif;
}

#u16293-4
{
	font-family: tienne-n4, serif;
}

#u16289-4
{
	font-family: lustria-n4, serif;
}

#u16290-4,#u16286-6
{
	font-family: lustria-n4, serif;
}

#u16287-6
{
	font-family: lustria-n4, serif;
}

#u16288-4
{
	font-family: lustria-n4, serif;
}

#u16272-4
{
	font-family: tienne-n4, serif;
}

#u16269-4
{
	font-family: lustria-n4, serif;
}

#u16307-4
{
	font-family: tienne-n4, serif;
}

#u16300-4
{
	font-family: lustria-n4, serif;
}

#u16299-4
{
	font-family: lustria-n4, serif;
}

#u16263-4
{
	font-family: tienne-n4, serif;
}

#u2043,#u2043-3,#u2043-5
{
	font-family: pt-serif-i4, sans-serif;
}

#u2043-7
{
	font-family: pt-serif-n7, sans-serif;
}

#u2042-2,#u2042-4,#u2042-6,#u2042-8
{
	font-family: lustria-n4, serif;
}

#u2043-8,#u2042-9
{
	font-family: pt-serif-n4, sans-serif;
}

