.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#pu4311.PamphletThumbSelected #u4312-4 p,#pu4301.PamphletThumbSelected #u4302-4 p,#pu4274.PamphletThumbSelected #u4275-4 p,#u4312-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4317-4,#u4320-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4302-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4296-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4298-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4297-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u4295-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u4299-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4275-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4283-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4282-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u4322-4
{
	font-family: pt-serif-n4, sans-serif;
}

#u5621,#u5621-3
{
	font-family: pt-serif-i4, sans-serif;
}

#u4324-4,#u5622-3,#u5621-7,#u4992-5,#u2978-5,#u3773-6,#u2979-5,#u5116-5,#u2972-5,#u5122-5
{
	font-family: lustria-n4, serif;
}

#u5622-4,#u2980-4,#u3774-4,#u2969-4,#u5117-4,#u2975-4,#u5123-4
{
	font-family: pt-serif-n4, sans-serif;
}

