.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16464-4
{
	font-family: tienne-n4, serif;
}

#u16519-4
{
	font-family: tienne-n4, serif;
}

#u16462-9,#u16524-4
{
	font-family: lustria-n4, serif;
}

#u16495-4
{
	font-family: tienne-n4, serif;
}

#u16491-4
{
	font-family: lustria-n4, serif;
}

#u16492-4
{
	font-family: lustria-n4, serif;
}

#u16488-6,#u16489-6
{
	font-family: lustria-n4, serif;
}

#u16490-4
{
	font-family: lustria-n4, serif;
}

#u16474-4
{
	font-family: tienne-n4, serif;
}

#u16471-4
{
	font-family: lustria-n4, serif;
}

#u16509-4
{
	font-family: tienne-n4, serif;
}

#u16502-4
{
	font-family: lustria-n4, serif;
}

#u16501-4
{
	font-family: lustria-n4, serif;
}

#u16465-4
{
	font-family: tienne-n4, serif;
}

#u5989-8
{
	font-family: pt-serif-n7, sans-serif;
}

#u5988-2,#u5988-4,#u5988-6,#u5988-8,#u5988-10,#u5988-12,#u5988-14
{
	font-family: lustria-n4, serif;
}

#u5989-9,#u5988-15
{
	font-family: pt-serif-n4, sans-serif;
}

#u5989-2,#u5989-4,#u5989-6,#u8102-4
{
	font-family: pt-serif-i4, sans-serif;
}

