.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16332-4
{
	font-family: tienne-n4, serif;
}

#u16387-4
{
	font-family: tienne-n4, serif;
}

#u16330-9,#u16392-4
{
	font-family: lustria-n4, serif;
}

#u16363-4
{
	font-family: tienne-n4, serif;
}

#u16359-4
{
	font-family: lustria-n4, serif;
}

#u16360-4
{
	font-family: lustria-n4, serif;
}

#u16356-6
{
	font-family: lustria-n4, serif;
}

#u16357-6
{
	font-family: lustria-n4, serif;
}

#u16342-4
{
	font-family: tienne-n4, serif;
}

#u16358-4,#u16339-4
{
	font-family: lustria-n4, serif;
}

#u16377-4
{
	font-family: tienne-n4, serif;
}

#u16370-4
{
	font-family: lustria-n4, serif;
}

#u16369-4
{
	font-family: lustria-n4, serif;
}

#u16333-4
{
	font-family: tienne-n4, serif;
}

#u2719-18
{
	font-family: lustria-n4, serif;
}

#u2720-2,#u2720-4,#u2720-6
{
	font-family: pt-serif-i4, sans-serif;
}

#u2720-9
{
	font-family: pt-serif-n4, sans-serif;
}

#u2720-8
{
	font-family: pt-serif-n7, sans-serif;
}

