.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u15920-4
{
	font-family: tienne-n4, serif;
}

#u15916-4
{
	font-family: tienne-n4, serif;
}

#u15890-9,#u15919-4
{
	font-family: lustria-n4, serif;
}

#u15949-4
{
	font-family: tienne-n4, serif;
}

#u15944-4
{
	font-family: lustria-n4, serif;
}

#u15943-4
{
	font-family: lustria-n4, serif;
}

#u15941-6
{
	font-family: lustria-n4, serif;
}

#u15940-6
{
	font-family: lustria-n4, serif;
}

#u15942-4
{
	font-family: lustria-n4, serif;
}

#u15927-4
{
	font-family: tienne-n4, serif;
}

#u15930-4
{
	font-family: lustria-n4, serif;
}

#u15899-4
{
	font-family: tienne-n4, serif;
}

#u15903-4
{
	font-family: lustria-n4, serif;
}

#u15902-4
{
	font-family: lustria-n4, serif;
}

#u15921-4
{
	font-family: tienne-n4, serif;
}

#u15837-4
{
	font-family: lustria-n4, serif;
}

#u15831-6
{
	font-family: lustria-n4, serif;
}

#u15839-6
{
	font-family: lustria-n4, serif;
}

#u15842-6,#u15843-10,#u15844-8,#u15978-4,#u15977-4,#u15979-6
{
	font-family: lustria-n4, serif;
}

#u15974-3
{
	font-family: pt-serif-i4, sans-serif;
}

#u15974-5
{
	font-family: pt-serif-n4, sans-serif;
}

