.Snap---Mega-Menu---Sub-Button---Text
{
	font-family: ubuntu-n3, sans-serif;
}

#u1649-20,#u1650-27,#u1651-6
{
	font-family: pt-serif-n4, sans-serif;
}

#u16053-4
{
	font-family: tienne-n4, serif;
}

#u16060-4
{
	font-family: tienne-n4, serif;
}

#u16089-4
{
	font-family: tienne-n4, serif;
}

#u16051-9,#u16063-4,#u16094-4
{
	font-family: lustria-n4, serif;
}

#u16095-4
{
	font-family: lustria-n4, serif;
}

#u16093-6
{
	font-family: lustria-n4, serif;
}

#u16096-6
{
	font-family: lustria-n4, serif;
}

#u16092-4
{
	font-family: lustria-n4, serif;
}

#u16106-4
{
	font-family: tienne-n4, serif;
}

#u16111-4
{
	font-family: lustria-n4, serif;
}

#u16079-4
{
	font-family: tienne-n4, serif;
}

#u16076-4
{
	font-family: lustria-n4, serif;
}

#u16075-4
{
	font-family: lustria-n4, serif;
}

#u16083-4
{
	font-family: tienne-n4, serif;
}

#u6915,#u6914-10
{
	font-family: pt-serif-i4, sans-serif;
}

#u6910-3,#u6914-8,#u6914-11
{
	font-family: pt-serif-n4, sans-serif;
}

#u6915-6,#u6910-2,#u6914-3,#u6914-5,#u6914-7,#u6914-13,#u6914-15,#u6914-17,#u6994-10,#u7048-8,#u7056-10,#u7064-8,#u7072-8,#u7080-8
{
	font-family: lustria-n4, serif;
}

