#u1648
{
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	border-width: 5px 0px 0px;
}

#u1648_align_to_page
{
	position: relative;
}

#u1649-20
{
	background-color: transparent;
	font-size: 13px;
	line-height: 26px;
	color: #3E322C;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1654,#u1656,#u1657
{
	border-color: #000000;
	background-color: #736357;
	position: relative;
}

#u1650-27,#u1651-6
{
	background-color: transparent;
	font-size: 13px;
	line-height: 17px;
	color: #3E322C;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

