.version.property_for_sale /* version checker */
{
	color: #0000F6;
	background-color: #D011FA;
}

.html
{
	background-color: #A4A2A2;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1682px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -299px;
	padding-top: 212px;
}

#u6230
{
	z-index: 198;
	height: 182px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 10px #303030/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px -1px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	position: fixed;
	top: -2px;
	border-width: 5px 0px 0px;
}

#u6230:hover
{
	border-style: none;
	height: 185px;
	min-height: 3px;
	margin: 2px 0px 0px;
}

#u6230-bw
{
	z-index: 198;
}

#u16528-9
{
	z-index: 201;
	width: 571px;
	min-height: 61px;
	border-style: solid;
	border-color: #736357;
	background-color: transparent;
	font-size: 22px;
	color: #736357;
	text-align: left;
	font-family: lustria, serif;
	font-weight: 400;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -159px;
	border-width: 0px 0px 0px 4px;
}

#u16528-3
{
	line-height: 26px;
	padding-left: 10px;
	padding-top: 5px;
}

#u16528
{
	letter-spacing: -2px;
}

#u16528-5
{
	line-height: 19px;
	padding-left: 10px;
	padding-top: 5px;
}

#u16528-7
{
	line-height: 25px;
	padding-left: 10px;
	padding-top: 5px;
}

#u16526
{
	z-index: 199;
	width: 222px;
	background-color: transparent;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -476px;
}

#u16526_clip
{
	overflow: hidden;
	width: 222px;
	height: 166px;
}

#u16526_img
{
	margin: -5px 1px 3px;
}

#u16529
{
	z-index: 210;
	width: 719px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: -241px;
}

#u16577
{
	z-index: 279;
	width: 83px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	padding-bottom: 54px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: -241px;
	border-width: 0px 1px 0px 0px;
}

#u16530-4
{
	z-index: 280;
	width: 74px;
	min-height: 46px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
	position: fixed;
	top: 132px;
	left: 50%;
	margin-left: -234px;
}

#u16530-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 0px 0px 0px -234px;
}

#pamphletu16578
{
	z-index: 211;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: -155px;
}

#u16583
{
	z-index: 212;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#pu16584
{
	position: absolute;
	width: 0.01px;
	top: -4px;
	left: -2px;
}

#u16584
{
	position: absolute;
	width: 110px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu16584:hover #u16584
{
	width: 111px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu16584.PamphletThumbSelected #u16584
{
	width: 110px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u16585-4
{
	z-index: 215;
	width: 103px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
}

#pu16584:hover #u16585-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 103px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	min-height: 46px;
}

#pu16584.PamphletThumbSelected #u16585-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 103px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
	min-height: 46px;
}

#u16530-4:hover p,#pu16584:hover #u16585-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#pu16584 #u16585-4
{
	position: relative;
	width: 103px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#u16588
{
	position: absolute;
	width: 111px;
	top: 57px;
	left: -1px;
}

#u16588popup
{
	z-index: 221;
}

#u16589
{
	z-index: 222;
	width: 109px;
	height: 52px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: #E9F6F2;
	position: relative;
	margin-right: -10000px;
}

#u16590-4
{
	z-index: 223;
	width: 103px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u16590-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 103px;
	margin: 3px -10000px 0px 0px;
}

#pamphletu16545
{
	z-index: 227;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: -44px;
}

#u16559
{
	z-index: 228;
	width: 198px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u16560
{
	position: absolute;
	width: 206px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu16560:hover #u16560
{
	width: 207px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu16560.PamphletThumbSelected #u16560
{
	width: 206px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u16561-4
{
	z-index: 231;
	width: 198px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
}

#pu16560:hover #u16561-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 198px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu16560.PamphletThumbSelected #u16561-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 198px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu16560:hover #u16561-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#pu16560 #u16561-4
{
	position: relative;
	width: 198px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u16552
{
	position: absolute;
	width: 207px;
	top: 57px;
}

#u16552popup
{
	z-index: 237;
}

#u16553
{
	z-index: 238;
	width: 198px;
	height: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: #E9F6F2;
	position: relative;
	margin-right: -10000px;
	padding: 3px 4px 1px 3px;
}

#u16557-4
{
	z-index: 239;
	width: 198px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16557-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 198px;
	margin: 0px;
}

#u16558-4
{
	z-index: 243;
	width: 198px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16554-6
{
	z-index: 247;
	width: 198px;
	min-height: 56px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 6px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16554-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 198px;
	margin: 2px 0px 0px;
}

#u16555-6
{
	z-index: 253;
	width: 198px;
	min-height: 56px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 6px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16555-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 198px;
	margin: 3px 0px 0px;
}

#u16556-4
{
	z-index: 259;
	width: 198px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16558-4:hover,#u16556-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 198px;
	margin: 3px 0px 0px;
}

#u16590-4:hover p,#u16557-4:hover p,#u16558-4:hover p,#u16554-6:hover p,#u16555-6:hover p,#u16556-4:hover p
{
	color: #736357;
	visibility: inherit;
}

#pamphletu16532
{
	z-index: 263;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: 165px;
}

#u16538
{
	z-index: 264;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu16560,#pu16539
{
	position: absolute;
	width: 0.01px;
	top: -4px;
	left: -4px;
}

#u16539
{
	position: absolute;
	width: 109px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu16539:hover #u16539
{
	width: 110px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu16539.PamphletThumbSelected #u16539
{
	width: 109px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u16540-4
{
	z-index: 267;
	width: 99px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
}

#pu16539:hover #u16540-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu16539.PamphletThumbSelected #u16540-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu16539:hover #u16540-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#pu16539 #u16540-4
{
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u16535
{
	position: absolute;
	width: 110px;
	top: 57px;
}

#u16535popup
{
	z-index: 273;
}

#u16536
{
	z-index: 274;
	width: 108px;
	height: 52px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: #E9F6F2;
	position: relative;
	margin-right: -10000px;
}

#u16537-4
{
	z-index: 275;
	width: 103px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	letter-spacing: -1px;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#pamphletu16562
{
	z-index: 289;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: 276px;
}

#u16573
{
	z-index: 290;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#pu16574
{
	position: absolute;
	width: 0.01px;
	top: -4px;
	left: -1px;
}

#u16574
{
	position: absolute;
	width: 103px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu16574:hover #u16574
{
	width: 104px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu16574.PamphletThumbSelected #u16574
{
	width: 103px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u16575-4
{
	z-index: 293;
	width: 99px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
}

#pu16574:hover #u16575-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
	min-height: 46px;
}

#pu16574.PamphletThumbSelected #u16575-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
	min-height: 46px;
}

#pu16574:hover #u16575-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#pu16584.PamphletThumbSelected #u16585-4 p,#pu16560.PamphletThumbSelected #u16561-4 p,#pu16539.PamphletThumbSelected #u16540-4 p,#pu16574.PamphletThumbSelected #u16575-4 p
{
	color: #A58D2B;
	visibility: inherit;
}

#pu16574 #u16575-4
{
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 1px;
}

#u16565
{
	position: absolute;
	width: 104px;
	top: 57px;
}

#u16565popup
{
	z-index: 299;
}

#u16566
{
	z-index: 300;
	width: 99px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #FCEE21;
	background-color: #E9F6F2;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u16568-4
{
	z-index: 301;
	width: 99px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16568-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 99px;
	margin: 0px;
}

#u16567-4
{
	z-index: 305;
	width: 99px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #736357;
	text-align: center;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u16567-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 99px;
	margin: 3px 0px 0px;
}

#u16568-4:hover p,#u16567-4:hover p
{
	color: #998675;
	visibility: inherit;
}

#u16576
{
	z-index: 284;
	width: 88px;
	border-color: #000000;
	background-color: #E9F6F2;
	padding-bottom: 54px;
	position: fixed;
	top: 128px;
	left: 50%;
	margin-left: 390px;
}

#u16531-4
{
	z-index: 285;
	width: 79px;
	min-height: 46px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #A58D2B;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
	position: fixed;
	top: 132px;
	left: 50%;
	margin-left: 391px;
}

#u16531-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 0px 0px 0px 391px;
}

#u16531-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u16530-2,#u16585-2,#u16590-2,#u16561-2,#u16557-2,#u16558-2,#u16554-2,#u16554-4,#u16555-2,#u16555-4,#u16556-2,#u16540-2,#u16537-2,#u16575-2,#u16568-2,#u16567-2,#u16531-2
{
	padding-top: 13px;
}

#u6294-8
{
	z-index: 189;
	width: 685px;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	margin-left: 20px;
	position: relative;
}

#u6294-2
{
	font-size: 28px;
	line-height: 39px;
}

#u6294-4
{
	font-size: 20px;
	line-height: 28px;
	padding-top: 4px;
}

#u6294-6
{
	font-size: 15px;
	line-height: 21px;
	padding-top: 7px;
}

#pu6790
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 41px;
}

#u6790
{
	z-index: 59;
	border-width: 1px;
	border-style: solid;
	border-color: #3E322C;
	background-color: #736357;
}

#u6790_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
	padding-top: 25px;
	padding-bottom: 45px;
}

#pu6713
{
	width: 0.01px;
	left: 119px;
	position: relative;
}

#u6713
{
	z-index: 155;
	width: 449px;
	height: 347px;
	border-color: #000000;
	background-color: #3E322C;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#u6787
{
	z-index: 197;
	width: 235px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u6307-8
{
	z-index: 94;
	width: 235px;
	min-height: 272px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u6388
{
	z-index: 113;
	width: 449px;
	height: 1px;
	border-color: #000000;
	background-color: #3E322C;
	left: 119px;
	margin-top: 30px;
	position: relative;
}

#pu6640
{
	width: 0.01px;
	left: 120px;
	margin-top: 23px;
	position: relative;
}

#u6640
{
	z-index: 122;
	width: 449px;
	height: 347px;
	border-color: #000000;
	background-color: #3E322C;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#pu6788
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 469px;
}

#u6788
{
	z-index: 187;
	width: 235px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u6387-11
{
	z-index: 102;
	width: 235px;
	min-height: 272px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u6667
{
	z-index: 154;
	width: 449px;
	height: 1px;
	border-color: #000000;
	background-color: #3E322C;
	left: 120px;
	margin-top: 29px;
	position: relative;
}

#pu6791-3
{
	width: 0.01px;
	left: 119px;
	margin-top: 28px;
	position: relative;
}

#u6791-3
{
	z-index: 60;
	width: 449px;
	min-height: 347px;
	border-color: #000000;
	background-color: #3E322C;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
}

#pu6787,#pu6789
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 470px;
}

#u6789
{
	z-index: 188;
	width: 235px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u6515-8
{
	z-index: 114;
	width: 235px;
	min-height: 272px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u6307-2,#u6387-2,#u6515-2
{
	font-size: 17px;
	line-height: 20px;
}

#u6307-4,#u6387-4,#u6515-4
{
	padding-top: 5px;
}

#u6790-bw
{
	z-index: 59;
	margin-bottom: -1px;
	height: 1225px;
}

#slideshowu6561
{
	z-index: 63;
	width: 0.01px;
	height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 844px;
	left: 144px;
}

#u6562popup
{
	z-index: 64;
}

#u6567
{
	z-index: 65;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6619
{
	z-index: 67;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8308
{
	z-index: 69;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8323
{
	z-index: 71;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6631
{
	z-index: 73;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6578popup
{
	z-index: 75;
}

#u6583
{
	z-index: 76;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u6622
{
	z-index: 78;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u8311
{
	z-index: 80;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u8326
{
	z-index: 82;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u6634
{
	z-index: 84;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u6586-4popup
{
	z-index: 86;
}

#u6569-4popup
{
	z-index: 90;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu6641
{
	z-index: 123;
	width: 0.01px;
	height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 146px;
}

#u6643popup
{
	z-index: 124;
}

#u6679
{
	z-index: 125;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6679_img
{
	margin-top: -12px;
	margin-bottom: -13px;
}

#u6692
{
	z-index: 127;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8338
{
	z-index: 129;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9738
{
	z-index: 131;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6704
{
	z-index: 133;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6656popup
{
	z-index: 135;
}

#u6682
{
	z-index: 136;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u6682_img
{
	margin-left: -1px;
	margin-right: -2px;
}

#u6695
{
	z-index: 138;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u8341
{
	z-index: 140;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u9741
{
	z-index: 142;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u6707
{
	z-index: 144;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u6663-4popup
{
	z-index: 146;
}

#u6642-4popup
{
	z-index: 150;
}

#slideshowu6714
{
	z-index: 156;
	width: 0.01px;
	height: 328px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 145px;
}

#u6562,#u6643,#u6716
{
	position: absolute;
	width: 405px;
	height: 264px;
	background-color: transparent;
}

#u6716popup
{
	z-index: 157;
}

#u6750
{
	z-index: 158;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6764
{
	z-index: 160;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6679_clip,#u6692_clip,#u6764_clip
{
	overflow: hidden;
	width: 405px;
	height: 264px;
}

#u6692_img,#u6764_img
{
	margin-top: -2px;
	margin-bottom: -3px;
}

#u6777
{
	z-index: 162;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8368
{
	z-index: 164;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u8383
{
	z-index: 166;
	width: 405px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6578,#u6656,#u6729
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 8px;
	top: 275px;
}

#u6729popup
{
	z-index: 168;
}

#u6753
{
	z-index: 169;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u6767
{
	z-index: 171;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u6695_img,#u6767_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u6780
{
	z-index: 173;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u8371
{
	z-index: 175;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u8386
{
	z-index: 177;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u6583.SSSlideLinkSelected,#u6622.SSSlideLinkSelected,#u8311.SSSlideLinkSelected,#u8326.SSSlideLinkSelected,#u6634.SSSlideLinkSelected,#u6682.SSSlideLinkSelected,#u6695.SSSlideLinkSelected,#u8341.SSSlideLinkSelected,#u9741.SSSlideLinkSelected,#u6707.SSSlideLinkSelected,#u6753.SSSlideLinkSelected,#u6767.SSSlideLinkSelected,#u6780.SSSlideLinkSelected,#u8371.SSSlideLinkSelected,#u8386.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u6583_clip,#u6622_clip,#u8311_clip,#u8326_clip,#u6634_clip,#u6682_clip,#u6695_clip,#u8341_clip,#u9741_clip,#u6707_clip,#u6753_clip,#u6767_clip,#u6780_clip,#u8371_clip,#u8386_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u6583_img,#u6622_img,#u8311_img,#u8326_img,#u6634_img,#u8341_img,#u9741_img,#u6707_img,#u6753_img,#u6780_img,#u8371_img,#u8386_img
{
	margin-left: -5px;
	margin-right: -4px;
}

#u6586-4,#u6663-4,#u6736-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #3E322C;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 275px;
}

#u6736-4popup
{
	z-index: 179;
}

#u6569-4,#u6642-4,#u6715-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #3E322C;
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 275px;
	left: 375px;
}

#u6715-4popup
{
	z-index: 183;
}

#u1648
{
	z-index: 2;
	padding-bottom: 29px;
}

#u1648_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1654
{
	z-index: 56;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 101px;
}

#u1649-20
{
	z-index: 3;
	width: 165px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 119px;
}

#u1656
{
	z-index: 57;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 420px;
}

#u1650-27
{
	z-index: 23;
	width: 261px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 435px;
}

#u1657
{
	z-index: 58;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 739px;
}

#u1651-6
{
	z-index: 50;
	width: 257px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 757px;
}

#u1648-bw
{
	z-index: 2;
	margin-top: 61px;
	height: 258px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 1px;
	padding-bottom: 299px;
}

#page .verticalspacer
{
	clear: both;
}

