.version.small_builds___garages /* version checker */
{
	color: #0000EE;
	background-color: #5D1174;
}

.html
{
	background-color: #80AF99;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 899px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu3086
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
	margin-left: -100px;
}

#pu3086_position_content
{
	margin-bottom: -9px;
	padding-top: 193px;
}

#u3086
{
	z-index: 147;
	height: 179px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 10px #303030/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px -1px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.4)/* glow */,
6px 6px 10px rgba(0, 0, 0, 0.81)/* drop shadow*/;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	position: fixed;
	top: -1px;
	border-width: 5px 0px 0px;
}

#u3086:hover
{
	border-style: none;
	height: 182px;
	min-height: 3px;
	margin: 2px 0px 0px;
}

#u3086-bw
{
	z-index: 147;
}

#u4392
{
	z-index: 148;
	width: 222px;
	background-color: transparent;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -484px;
}

#u4392_clip
{
	overflow: hidden;
	width: 222px;
	height: 166px;
}

#u4392_img
{
	margin: -5px 1px 3px;
}

#u5432
{
	z-index: 59;
	width: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
}

#u5440
{
	z-index: 60;
	width: 162px;
	border-color: #000000;
	background-color: #A4A2A2;
	position: relative;
	margin-right: -10000px;
	padding: 40px 24px 20px 26px;
}

#u5441
{
	z-index: 61;
	width: 162px;
	background-color: transparent;
	position: relative;
}

#u5441:hover
{
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u5441:active
{
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 0px;
}

#u5434-5
{
	z-index: 72;
	width: 162px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #BC9394;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u5450
{
	z-index: 63;
	width: 162px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5450:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 2px 0px 0px;
}

#u5450_img
{
	padding-right: 1px;
}

#u5449-5
{
	z-index: 77;
	width: 162px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #BC9394;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u5449-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5444
{
	z-index: 89;
	width: 162px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u5439-7
{
	z-index: 82;
	width: 162px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u5446
{
	z-index: 65;
	width: 162px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5446:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 2px 0px 0px;
}

#u5450:active,#u5446:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	margin: 2px 0px 0px;
}

#u5443-6
{
	z-index: 91;
	width: 162px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u5437
{
	z-index: 105;
	width: 162px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u5437:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 1px 0px 0px;
}

#u5433-6
{
	z-index: 97;
	width: 162px;
	min-height: 22px;
	background-color: transparent;
	font-size: 16px;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u5439,#u5443,#u5433
{
	line-height: 0px;
	color: #3E322C;
}

#u5439-5,#u5443-4,#u5433-4
{
	color: #BC9394;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5449,#u5439-2,#u5439-4,#u5443-2,#u5433-2
{
	font-size: 15px;
	color: #3E322C;
	line-height: 18px;
}

#u5435
{
	z-index: 103;
	width: 162px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5435:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 2px 0px 0px;
}

#u5448-5
{
	z-index: 67;
	width: 162px;
	min-height: 18px;
	background-color: transparent;
	line-height: 0px;
	font-size: 15px;
	color: #BC9394;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 26px;
}

#u4394
{
	z-index: 150;
	width: 569px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 127px;
	left: 50%;
	margin-left: -225px;
}

#u4414
{
	z-index: 175;
	width: 50px;
	border-color: #000000;
	background-color: #E9F6F2;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#pu4413
{
	z-index: 176;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 3px;
}

#u4413
{
	z-index: 0;
	width: 46px;
	border-color: #000000;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u4413:hover
{
	background-color: transparent;
	margin: 0px;
}

.ie #u4413:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu4448
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 12px;
	z-index: 2;
	padding-bottom: 14px;
}

#u4448
{
	z-index: 177;
	width: 20px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u4448:hover
{
	background-color: #E9CF65;
	margin: 0px -10000px 0px 0px;
}

#u4448_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#pamphletu4395
{
	z-index: 151;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u4404
{
	z-index: 152;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4405
{
	position: absolute;
	width: 133px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px;
}

#pu4405:hover #u4405
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4405.PamphletThumbSelected #u4405
{
	width: 133px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px;
}

#u4406-4
{
	z-index: 155;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4405:hover #u4406-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4405.PamphletThumbSelected #u4406-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
	min-height: 46px;
}

#pu4405:hover #u4406-4 p
{
	color: #E9CF65;
	visibility: inherit;
}

#pu4405 #u4406-4
{
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 3px;
}

#u4396
{
	position: absolute;
	width: 552px;
	top: 63px;
}

#u4396popup
{
	z-index: 161;
}

#u4397
{
	z-index: 162;
	width: 550px;
	height: 276px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin-right: -10000px;
}

#pu4403-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 4px;
}

#u4403-4
{
	z-index: 163;
	width: 266px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: #C5C3C3;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 15px;
	color: #3E322C;
	line-height: 18px;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4401
{
	z-index: 171;
	width: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #A58D2B;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-top: 6px;
	position: relative;
}

#u4401:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 266px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#pu4400-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 277px;
}

#u4400-4
{
	z-index: 167;
	width: 266px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: #C5C3C3;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-size: 15px;
	color: #3E322C;
	line-height: 18px;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4403-4:hover,#u4400-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 266px;
	margin: 0px 0px 0px 1px;
}

#u4398
{
	z-index: 173;
	width: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #A58D2B;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-top: 6px;
	position: relative;
}

#u4398:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 266px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u4401:active,#u4398:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	width: 266px;
	min-height: 0px;
	margin: 6px 0px 0px;
}

#u4401 .clip_frame,#u4398 .clip_frame
{
	-webkit-border-radius: 0px 0px 0px 0px;
}

#pamphletu4431
{
	z-index: 179;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u4432
{
	z-index: 180;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4433
{
	position: absolute;
	width: 134px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu4433:hover #u4433
{
	width: 135px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4433.PamphletThumbSelected #u4433
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u4434-4
{
	z-index: 183;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4433:hover #u4434-4
{
	background-color: #E9CF65;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4433.PamphletThumbSelected #u4434-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#u4403-4:hover p,#u4400-4:hover p,#pu4433:hover #u4434-4 p
{
	color: #000000;
	visibility: inherit;
}

#u4435
{
	position: absolute;
	width: 137px;
	top: 64px;
	left: -3px;
}

#u4435popup
{
	z-index: 189;
}

#u4436
{
	z-index: 190;
	width: 130px;
	height: 260px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	position: relative;
	margin-right: -10000px;
	padding: 3px 2px 7px 3px;
}

#u4439-4
{
	z-index: 191;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4440-4
{
	z-index: 195;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4441-6
{
	z-index: 199;
	width: 130px;
	min-height: 53px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	line-height: 6px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4441-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 130px;
	margin: 2px 0px 0px;
}

#u4438-6
{
	z-index: 205;
	width: 130px;
	min-height: 53px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	line-height: 6px;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4438-6:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 130px;
	margin: 3px 0px 0px;
}

#u4437-4
{
	z-index: 211;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pamphletu4417
{
	z-index: 215;
	width: 0.01px;
	height: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u4424
{
	z-index: 216;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#pu4405,#pu4433,#pu4425
{
	position: absolute;
	width: 0.01px;
	top: -4px;
	left: -4px;
}

#u4425
{
	position: absolute;
	width: 134px;
	height: 54px;
	border-style: solid;
	border-color: #4A4B5B;
	background-color: #E9F6F2;
	border-width: 0px 1px 0px 0px;
}

#pu4425:hover #u4425
{
	width: 135px;
	height: 54px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu4425.PamphletThumbSelected #u4425
{
	width: 134px;
	height: 54px;
	background-image: none;
	border-style: solid;
	border-color: #736357;
	background-color: #E9F6F2;
	background-color: rgba(233, 246, 242, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 0px 1px 0px 0px;
}

#u4426-4
{
	z-index: 219;
	width: 130px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
}

#pu4425:hover #u4426-4
{
	background-color: #A4A2A2;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#pu4425.PamphletThumbSelected #u4426-4
{
	background-color: #E9F6F2;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
	min-height: 46px;
}

#u4439-4:hover p,#u4440-4:hover p,#u4441-6:hover p,#u4438-6:hover p,#u4437-4:hover p,#pu4425:hover #u4426-4 p
{
	color: #000000;
	visibility: inherit;
}

#pu4405.PamphletThumbSelected #u4406-4 p,#pu4433.PamphletThumbSelected #u4434-4 p,#pu4425.PamphletThumbSelected #u4426-4 p
{
	color: #A58D2B;
	visibility: inherit;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#pu4433 #u4434-4,#pu4425 #u4426-4
{
	position: relative;
	width: 130px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u4418
{
	position: absolute;
	width: 135px;
	top: 64px;
}

#u4418popup
{
	z-index: 225;
}

#u4419
{
	z-index: 226;
	width: 130px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding-left: 3px;
	padding-top: 3px;
	position: relative;
	margin-right: -10000px;
}

#u4420-4
{
	z-index: 227;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4439-4:hover,#u4420-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 130px;
	margin: 0px;
}

#u4421-4
{
	z-index: 231;
	width: 130px;
	min-height: 46px;
	border-style: solid;
	border-color: #D9D9D9;
	background-color: transparent;
	font-size: 14px;
	color: #3E322C;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4440-4:hover,#u4437-4:hover,#u4421-4:hover
{
	background-color: #DDD9C5;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 130px;
	margin: 3px 0px 0px;
}

#u4420-4:hover p,#u4421-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u4415
{
	z-index: 235;
	width: 104px;
	border-color: #000000;
	background-color: #E9F6F2;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u4416-4
{
	z-index: 236;
	width: 95px;
	min-height: 46px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	color: #A58D2B;
	text-align: center;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u4416-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 4px -10000px 0px 0px;
}

#u4416-4:hover p
{
	color: #A58D2B;
	visibility: inherit;
}

#u4406-2,#u4403-2,#u4400-2,#u4434-2,#u4439-2,#u4440-2,#u4441-2,#u4441-4,#u4438-2,#u4438-4,#u4437-2,#u4426-2,#u4420-2,#u4421-2,#u4416-2
{
	padding-top: 13px;
}

#u4450-4
{
	z-index: 240;
	width: 457px;
	min-height: 61px;
	border-style: solid;
	border-color: #736357;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #736357;
	text-align: left;
	font-family: lustria, serif;
	font-weight: 400;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -175px;
	border-width: 0px 0px 0px 4px;
}

#u4450-2
{
	padding-left: 10px;
	padding-top: 5px;
}

#pu3057-13
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 208px;
	margin-left: 305px;
}

#u3057-13
{
	z-index: 107;
	width: 555px;
	min-height: 49px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u3057-3
{
	font-size: 28px;
	line-height: 34px;
	font-family: lustria, serif;
}

#u5434,#u5448,#u3057
{
	color: #3E322C;
}

#u3057-5,#u3057-7
{
	font-size: 16px;
	line-height: 22px;
	padding-top: 12px;
	font-family: pt-serif, sans-serif;
}

#u3057-9,#u3057-11
{
	font-size: 16px;
	line-height: 22px;
	font-family: pt-serif, sans-serif;
}

#tab-panelu3058
{
	z-index: 120;
	width: 571px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u3059
{
	z-index: 121;
	width: 571px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3064
{
	z-index: 122;
	width: 285px;
	min-height: 27px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u3064:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 285px;
	min-height: 27px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u3064.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #A4A2A2;
	width: 285px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u3067-4
{
	z-index: 123;
	width: 285px;
	min-height: 27px;
	border-color: #999999;
	background-color: transparent;
	line-height: 27px;
	color: #3E322C;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u3064:hover #u3067-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 0px -10000px 0px 0px;
}

#u3064.TabbedPanelsTabSelected #u3067-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 0px -10000px 0px 0px;
}

#u3064.TabbedPanelsTabSelected #u3067-4 p
{
	color: #3E322C;
	visibility: inherit;
}

#u3060
{
	z-index: 127;
	width: 285px;
	min-height: 28px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 285px;
	border-width: 1px 0px 1px 1px;
}

#u3060:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 285px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u3060.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #A4A2A2;
	width: 285px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u3062-4
{
	z-index: 128;
	width: 285px;
	min-height: 28px;
	border-color: #999999;
	background-color: transparent;
	line-height: 28px;
	color: #3E322C;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3060:hover #u3062-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u3060.TabbedPanelsTabSelected #u3062-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u3060.TabbedPanelsTabSelected #u3062-4 p
{
	color: #3E322C;
	visibility: inherit;
	line-height: 1.97;
}

#u3068
{
	z-index: 132;
	width: 571px;
	background-color: transparent;
	position: relative;
}

#u3073
{
	z-index: 133;
	width: 534px;
	border-style: solid;
	border-color: #999999;
	background-color: #A4A2A2;
	margin-right: -10000px;
	position: relative;
	padding: 19px 17px 4px 18px;
	border-width: 0px 1px 1px;
}

#u3075
{
	z-index: 138;
	width: 534px;
	background-color: transparent;
	position: relative;
}

#u3074-4
{
	z-index: 134;
	width: 464px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #3E322C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#u3069
{
	z-index: 140;
	width: 534px;
	border-style: solid;
	border-color: #999999;
	background-color: #A4A2A2;
	margin-right: -10000px;
	position: relative;
	padding: 17px 17px 6px 18px;
	border-width: 0px 1px 1px;
}

#u3070
{
	z-index: 145;
	width: 534px;
	background-color: transparent;
	position: relative;
}

#u3072-4
{
	z-index: 141;
	width: 374px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #3E322C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u1648
{
	z-index: 2;
	padding-bottom: 29px;
}

#u1648_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1654
{
	z-index: 56;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 101px;
}

#u1649-20
{
	z-index: 3;
	width: 165px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 119px;
}

#u1656
{
	z-index: 57;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 420px;
}

#u1650-27
{
	z-index: 23;
	width: 261px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 435px;
}

#u1657
{
	z-index: 58;
	width: 1px;
	height: 228px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 739px;
}

#u1651-6
{
	z-index: 50;
	width: 257px;
	min-height: 105px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 757px;
}

#u1648-bw
{
	z-index: 2;
	margin-bottom: -299px;
	margin-top: 1121px;
	height: 258px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 1px;
	padding-bottom: 299px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1121px;
}

