.version.about /* version checker */
{
	color: #00001F;
	background-color: #909FA0;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1898px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 1px;
}

#u12441
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12437
{
	z-index: 18;
	width: 130px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u12437_clip
{
	width: 130px;
	height: 97px;
}

#u12437_img
{
	margin-top: -3px;
	margin-right: 1px;
	margin-bottom: 2px;
}

#u12439-12
{
	z-index: 20;
	width: 171px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 191px;
}

#u12441-bw
{
	z-index: 2;
	height: 106px;
}

#menuu12442
{
	z-index: 32;
	width: 365px;
	margin-left: 7px;
	margin-top: 3px;
}

#u12457
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
}

#u12458
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12458:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12461-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458:hover #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12458:active #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12443
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
	left: 122px;
}

#u12446
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458.MuseMenuActive,#u12446:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12448-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458.MuseMenuActive #u12461-4,#u12446:hover #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12446:active #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12471
{
	width: 121px;
	min-height: 36px;
	margin-right: -10000px;
	left: 244px;
}

#u12474
{
	width: 120px;
	padding-bottom: 17px;
}

#u12474:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12476-4
{
	width: 120px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12446.MuseMenuActive #u12448-4,#u12474:hover #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474:active #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474.MuseMenuActive #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u11844-6
{
	z-index: 65;
	width: 266px;
	min-height: 32px;
	background-color: transparent;
	line-height: 15px;
	font-size: 19px;
	font-family: lustria, serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 12px;
	position: relative;
}

#u11844
{
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u11844-3
{
	color: #FFFFFF;
}

#pu11840
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -1px;
}

#u11840
{
	z-index: 52;
	width: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #3E322C;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u11842
{
	z-index: 63;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u11841-10
{
	z-index: 53;
	width: 257px;
	min-height: 139px;
	background-color: transparent;
	color: #3E322C;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#pu11860
{
	width: 0.01px;
	margin-top: 12px;
}

#u11860
{
	z-index: 51;
	border-color: #000000;
	background-color: #7F7F7F;
	padding: 20px 14px 22.300000000000182px 22px;
}

#u11846-23
{
	z-index: 71;
	width: 343px;
	min-height: 292px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u11846-3
{
	font-size: 22px;
	line-height: 26px;
	font-family: lustria, serif;
}

#u11846-5
{
	font-size: 14px;
	line-height: 18px;
	padding-top: 9px;
	font-family: lustria, serif;
}

#u11846-9
{
	font-size: 14px;
	line-height: 19px;
	padding-top: 7px;
	font-family: lustria, serif;
}

#u11846-7,#u11846-11
{
	font-size: 14px;
	line-height: 19px;
	font-family: lustria, serif;
}

#u11846-12
{
	font-size: 15px;
	line-height: 18px;
	font-family: pt-serif, sans-serif;
}

#u11846-14
{
	font-size: 14px;
	line-height: 18px;
	font-family: pt-serif, sans-serif;
	font-style: italic;
}

#u11846-15
{
	font-size: 16px;
	line-height: 19px;
	font-family: pt-serif, sans-serif;
}

#u11846-17
{
	font-size: 16px;
	line-height: 19px;
	font-family: lustria, serif;
}

#u11846-19
{
	font-size: 14px;
	line-height: 18px;
	padding-top: 6px;
	font-family: lustria, serif;
}

#u11846-21
{
	font-size: 14px;
	line-height: 20px;
	padding-top: 6px;
	font-family: lustria, serif;
}

#u11847
{
	z-index: 94;
	width: 337px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u11858
{
	z-index: 118;
	width: 337px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 14px;
	position: relative;
}

#u11850-10
{
	z-index: 96;
	width: 337px;
	min-height: 130px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u11850-2
{
	font-size: 16px;
	line-height: 19px;
}

#u11850-6,#u11850-8
{
	line-height: 20px;
}

#u11851
{
	z-index: 106;
	width: 339px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u11859
{
	z-index: 119;
	width: 337px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 2px;
	margin-top: 14px;
	position: relative;
}

#u11854-8
{
	z-index: 108;
	width: 339px;
	min-height: 198px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lustria, serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u11854-2
{
	font-size: 16px;
	line-height: 22px;
}

#u11850-4,#u11854-4,#u11854-6
{
	font-size: 14px;
	line-height: 20px;
	padding-top: 6px;
}

#u11855
{
	z-index: 116;
	width: 340px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u11860-bw
{
	z-index: 51;
	height: 1458px;
}

#u11861
{
	z-index: 120;
	width: 337px;
	height: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 23px;
}

#u11216
{
	z-index: 3;
	padding-bottom: 4px;
}

#u11214-7
{
	z-index: 4;
	width: 155px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
}

#u11221-7
{
	z-index: 11;
	width: 155px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 190px;
}

#u11216-bw
{
	z-index: 3;
	margin-top: 3px;
	height: 55px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

