.version.contact /* version checker */
{
	color: #00000D;
	background-color: #F1372F;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 531px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 1px;
}

#u12441
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12437
{
	z-index: 18;
	width: 130px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u12437_clip
{
	width: 130px;
	height: 97px;
}

#u12437_img
{
	margin-top: -3px;
	margin-right: 1px;
	margin-bottom: 2px;
}

#u12439-12
{
	z-index: 20;
	width: 171px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 191px;
}

#u12441-bw
{
	z-index: 2;
	height: 106px;
}

#menuu12442
{
	z-index: 32;
	width: 365px;
	margin-left: 7px;
	margin-top: 3px;
}

#u12457
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
}

#u12458
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12458:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12461-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458:hover #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12458:active #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12443
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
	left: 122px;
}

#u12446
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458.MuseMenuActive,#u12446:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12448-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458.MuseMenuActive #u12461-4,#u12446:hover #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12446:active #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12471
{
	width: 121px;
	min-height: 36px;
	margin-right: -10000px;
	left: 244px;
}

#u12474
{
	width: 120px;
	padding-bottom: 17px;
}

#u12474:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12476-4
{
	width: 120px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12446.MuseMenuActive #u12448-4,#u12474:hover #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474:active #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474.MuseMenuActive #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u11426
{
	z-index: 51;
	border-width: 1px;
	border-style: solid;
	border-color: #3E322C;
	background-color: #A4A2A2;
	padding-bottom: 16px;
}

#u11493
{
	z-index: 52;
	width: 1px;
	height: 235px;
	border-color: #000000;
	background-color: #3E322C;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 31px;
}

#u11494-22
{
	z-index: 53;
	width: 278px;
	min-height: 244px;
	background-color: transparent;
	line-height: 20px;
	color: #E9F6F2;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 42px;
}

#u11426-bw
{
	z-index: 51;
	margin-top: 10px;
	height: 261px;
}

#u11216
{
	z-index: 3;
	padding-bottom: 4px;
}

#u11214-7
{
	z-index: 4;
	width: 155px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
}

#u11221-7
{
	z-index: 11;
	width: 155px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 190px;
}

#u11216-bw
{
	z-index: 3;
	margin-top: 19px;
	height: 55px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

