.version.index /* version checker */
{
	color: #000003;
	background-color: #F6CB42;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1197px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 1px;
}

#u12441
{
	z-index: 2;
	padding-bottom: 7px;
}

#u12437
{
	z-index: 18;
	width: 130px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 25px;
}

#u12437_clip
{
	width: 130px;
	height: 97px;
}

#u12437_img
{
	margin-top: -3px;
	margin-right: 1px;
	margin-bottom: 2px;
}

#u12439-12
{
	z-index: 20;
	width: 171px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 191px;
}

#u12441-bw
{
	z-index: 2;
	height: 106px;
}

#menuu12442
{
	z-index: 32;
	width: 365px;
	margin-left: 7px;
	margin-top: 3px;
}

#u12457
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
}

#u12458
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12458:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12461-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458:hover #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12458:active #u12461-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12443
{
	width: 120px;
	min-height: 36px;
	margin-right: -10000px;
	left: 122px;
}

#u12446
{
	width: 119px;
	padding-bottom: 17px;
}

#u12458.MuseMenuActive,#u12446:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12446.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u12448-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12458.MuseMenuActive #u12461-4,#u12446:hover #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12446:active #u12448-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12471
{
	width: 121px;
	min-height: 36px;
	margin-right: -10000px;
	left: 244px;
}

#u12474
{
	width: 120px;
	padding-bottom: 17px;
}

#u12474:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12474.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u12476-4
{
	width: 120px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u12446.MuseMenuActive #u12448-4,#u12474:hover #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474:active #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12474.MuseMenuActive #u12476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12478
{
	z-index: 153;
	width: 364px;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 8px;
	position: relative;
}

#u11222
{
	z-index: 51;
	width: 317px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 1px;
	margin-left: 28px;
	margin-top: 12px;
	position: relative;
}

#pu11192
{
	width: 0.01px;
	margin-left: 1px;
}

#u11192
{
	z-index: 56;
	width: 57px;
	border-width: 2px;
	border-style: solid;
	border-color: #998675;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u11192:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px -2px 0px;
}

#u11192:active
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px -2px 0px;
}

#u11191-4
{
	z-index: 52;
	width: 200px;
	min-height: 55px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 0px;
	color: #736357;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u11191-4:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px -10000px 0px 0px;
}

#u11194-29
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
}

#u11201
{
	z-index: 117;
	width: 300px;
	height: 1px;
	border-color: #000000;
	background-color: #998675;
	margin-top: 4px;
	position: relative;
}

#pu11197
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 15px;
}

#u11197
{
	z-index: 93;
	width: 57px;
	border-width: 2px;
	border-style: solid;
	border-color: #998675;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u11196-6
{
	z-index: 87;
	width: 212px;
	min-height: 55px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 0px;
	color: #736357;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u11199-22
{
	z-index: 95;
	display: block;
	vertical-align: top;
	margin-top: 7px;
	position: relative;
}

#u11212
{
	z-index: 152;
	width: 300px;
	height: 1px;
	border-color: #000000;
	background-color: #998675;
	margin-top: 6px;
	position: relative;
}

#pu11208
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 17px;
}

#u11208
{
	z-index: 124;
	width: 57px;
	border-width: 2px;
	border-style: solid;
	border-color: #998675;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u11197:hover,#u11208:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 57px;
	min-height: 0px;
	margin: 0px -10000px -2px 0px;
}

#u11192 .clip_frame,#u11197 .clip_frame,#u11208 .clip_frame
{
	-webkit-border-radius: 0px 0px 0px 0px;
}

#u11208_clip
{
	overflow: hidden;
	width: 57px;
	height: 57px;
}

#u11208_img
{
	margin-right: -2px;
	margin-bottom: -2px;
}

#u11207-6
{
	z-index: 118;
	width: 235px;
	min-height: 55px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	letter-spacing: 0px;
	color: #736357;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 67px;
}

#u11196-6:hover,#u11207-6:hover
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px -10000px 0px 0px;
}

#u11210-26
{
	z-index: 126;
	display: block;
	vertical-align: top;
	margin-top: 15px;
	position: relative;
}

#u11216
{
	z-index: 3;
	padding-bottom: 4px;
}

#u11214-7
{
	z-index: 4;
	width: 155px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
}

#u11221-7
{
	z-index: 11;
	width: 155px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 190px;
}

#u11216-bw
{
	z-index: 3;
	margin-top: 34px;
	height: 55px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

