#u12441
{
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	border-width: 6px 0px;
}

#u12437_clip
{
	overflow: hidden;
}

#u12439-12
{
	border-style: solid;
	border-color: #736357;
	background-color: transparent;
	line-height: 15px;
	color: #736357;
	text-align: left;
	font-family: lustria, serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 0px 4px;
}

#u12439-2
{
	padding-left: 10px;
}

#u12439-4
{
	padding-left: 10px;
	padding-top: 5px;
}

#u12439-6
{
	padding-left: 10px;
	padding-top: 5px;
}

#u12439-8
{
	padding-left: 10px;
	padding-top: 5px;
}

#u12439-10
{
	padding-left: 10px;
	padding-top: 5px;
}

#menuu12442
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u12458
{
	border-style: solid;
	border-color: #000000;
	background-color: #E9F6F2;
	position: relative;
	border-width: 0px 0px 2px 1px;
}

#u12458:hover
{
	background-color: #999999;
}

#u12458:active
{
	background-color: #6B6B6B;
}

#u12461-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #736357;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
	position: relative;
}

#u12458:hover #u12461-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12458:active #u12461-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12446
{
	border-style: solid;
	border-color: #000000;
	background-color: #E9F6F2;
	position: relative;
	border-width: 0px 0px 2px 1px;
}

#u12446:hover
{
	background-color: #999999;
}

#u12446:active
{
	background-color: #6B6B6B;
}

#u12448-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #736357;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
	position: relative;
}

#u12446:hover #u12448-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12446:active #u12448-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12437,#u12457,#u12443,#u12471
{
	background-color: transparent;
	position: relative;
}

#u12474
{
	border-style: solid;
	border-color: #000000;
	background-color: #E9F6F2;
	position: relative;
	border-width: 0px 0px 2px 1px;
}

#u12474:hover
{
	background-color: #999999;
}

#u12474:active
{
	background-color: #6B6B6B;
}

#u12458.MuseMenuActive,#u12446.MuseMenuActive,#u12474.MuseMenuActive
{
	background-color: #E9F6F2;
}

#u12476-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #736357;
	text-align: center;
	font-family: tienne, serif;
	font-weight: 400;
	position: relative;
}

#u12474:hover #u12476-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12474:active #u12476-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12458.MuseMenuActive #u12461-4 p,#u12446.MuseMenuActive #u12448-4 p,#u12474.MuseMenuActive #u12476-4 p
{
	color: #736357;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u11216
{
	border-style: solid;
	border-color: #E9CF65;
	background-color: #E9F6F2;
	border-width: 4px 0px 0px;
}

#u11214-5
{
	font-size: 13px;
	line-height: 17px;
	color: #BC9394;
}

#u11214-7,#u11221-7
{
	background-color: transparent;
	font-family: pt-serif, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11221-5
{
	font-size: 13px;
	color: #BC9394;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11214-2,#u11214-4,#u11221-2,#u11221-3
{
	font-size: 11px;
	line-height: 14px;
	color: #3E322C;
}

